{% autoescape off %}

    {% if student_name %}
        Уважаемый {{student_name}}, пользователь {{teacher_name}} хочет добавить вас к себе в качестве ученика!
        Для подтверждения запроса, вам необходимо перейти по ссылке ниже!

        http://{{domain}}{% url {{ url_name }} token=token %}
    {% else %}
        Здравствуйте, пользователь {{teacher_name}} хочет добавить вас к себе в качестве ученика!
        Для подтверждения запроса, вам необходимо перейти по ссылке ниже и зарегистрироваться на нашем сервисе!

        http://{{domain}}{% url {{url_name}} %}
    {% endif %}
{% endautoescape %}
